html, body {
    margin:0;
    padding:0;
    height:100%;
    position:relative;
    overflow: auto;
}
.content-wrapper{
  background-color: #cacaca;
  top:60px;
  width:100%;
  display:flex;
  flex-flow: row wrap;
}
.flex-content h1 {
  color:#F70716;
  flex-flow: row wrap;
  text-align: center;
  width:100%;
}
.flex-content p {
  width:50%;
  padding: 0 3%;
  box-sizing: border-box;
  margin:0;
}
@media only screen and (min-width:320px) and (max-width: 768px){

}
body{
  background-color: #cacaca
}
.flex-image{
  max-width:200px;
  max-height:200px;
  display: flex;
}
.flex-content{
  width:35%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  margin-bottom: 1%;
}
#topnav{
  height:60px;
  width: 100%;
  background-color: rgb(232,232,232);
  top:0;
  display:inline-block;
}
body, ul{
  padding:0;
  margin:0;
  font-family: 'Sawarabi Mincho', sans-serif;
}
#logo, #logo li{
  list-style-type: none;
  box-sizing: content-box;
  display:inline-block;
}
#logo li a img {
  height:60px;
}
#logo{
  padding-left: 12em;
}
#navitems, #navitems li{
  list-style-type: none;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 25px;
  padding: 0 1em;
}
#songdrop{
  list-style-type: none;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 25px;
  padding: 0 1em;
  color:#F70716
}
#songdrop:hover .dropdown {
    display: block;
}
#navitems{
  float:right;
  padding-top: 0.35em;
}
#navitems li a {
  color: #F70716;
  text-decoration: none;
}
#navitems2{
  float:right;
}
#navitems2 li a {
  text-decoration: none;
}
.dropdown {
  display:none;
  position: absolute;
  background-color: rgb(244,244,244);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#thefile {
  top: 70px;
  left: 10px;
  z-index: 100;
}

#canvas {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70%;
}

audio {
  position: fixed;
  width: calc(40%);
  right:10px;
}
#navsocials {
  text-align: center;
  display: inline-block;
  top:0;
  list-style-type: none;
  float:right;
}
#navsocials li a {
  text-decoration: none;
}
.fab {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.promobanner {
  padding:2%;
  background-color: #101010;
  width:100%;
  text-align: center;
}
.fab:visited{
  text-decoration: none;
  color: black;
}
.promo-image {
    max-width:250px;
    max-height:250px;
    float:left;
}
.banner-text{
  width:auto !important;
}
.flex-container{
  width:40%;
  margin: 0 auto;
}
.flex-content h1, .flex-content h2 {
  margin:10px auto;
}
.promobanner h2{
  color:white;
}
.promobanner .fab{
  color:white;
}
iframe{
  margin: 0 auto;
  top: auto;
  left: auto;
}
.frame-container{
  width:100%;
  text-align: center;
}
#Tours{
width:80%;
margin:0 auto;
border-collapse: collapse;
}
#Tours th{
  border:2px solid black;
  width:50%;
}
h1{
  color:#F70716;
  text-align: center;
}
.info{
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  float:right;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  margin-right:10px;
}
#Tours p{
  display:inline-block;
}
.mobileerror{
  display:none;
}
#menuToggle{
  display:none;
}
@media only screen and (min-width:320px) and (max-width: 768px) {
  #topnav, #logo, #navitems, #songdrop, #navitems2, #navitems2 a, #navitems a{
    display:none;
  }
  .flex-content{
    width:75%;
    margin: 0 auto;
  }
  .flex-content p {
    width:75%;
    margin: 0 auto;
  }
  .flex-image{
    margin:0 auto;
  }
  .promobanner{
    width:100%;
  }
  .flex-container {
    width:100%;
  }
  .promo-image{
    float:none;
  }
  .mobileerror{
    display:block;
  }
  #thefile{
    display:none;
  }
  .jscolor{
    display:none;
  }
  #retriever{
    display:none;
  }
  #storer{
    display:none;
  }
  #valueInput{
    display:none;
  }
  #audio{
    display:none;
  }
  #songdownload{
    display:none;
  }
  iframe{
    padding-top:10vh;
    margin: auto 0;
    width:100%;
  }
/*Creation of a hamburger menu when the view width gets too small*/
  #menuToggle
  {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    top:10px;
    left:10px;
  }
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #e8e8e8;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  #menuToggle a{
    text-decoration: none;
    color:#F70716;
  }
}
